<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Pratico</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Iniciando com Node.js</h1>
    <hr>
    <h3>Questionario 1:</h3>

    <p> Nome: <%= nome %> </p>
    <p> Desenvolvedor: <%= dev %>  </p>
    <p> Empresa: <%= company %> </p>
    <p> Salario: <%= salary %> </p>

    <% if (msg){ %>
        <h3>ERROR!</h3>
    <% } else { %>
        <h3>ACCEPT</h3>
    <% } %>

    <% produtos.forEach(function (produto) { %>
        <p><%= produto.nome %> - <%= produto.preco %></p>
    <% }) %>
    
</body>
</html>